footer {
  background-color: #d9ccbf;
  padding: 2rem;
}

@media screen and (min-width: 800px) {
  .footer_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

h2 {
  margin-bottom: 0.8rem;
}

li {
  margin-bottom: 0.3rem;
}

.footer_logo {
  width: 60%;
  margin-bottom: 4rem;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: black;
}

.costomerservice {
  margin-bottom: 2rem;
}

footer a:hover {
  text-decoration: underline;
}

.knap_1 {
  text-decoration: underline;
  border-radius: 0rem;
  background-color: whitesmoke;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
}

.knap_2 {
  text-decoration: underline;
  border-radius: 0rem;
  background-color: whitesmoke;
  padding: 0.5rem;
  text-decoration-color: black;
}
