/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/************ Forside *****************/

#topbar {
  background-color: #d9ccbf;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
}

#topbar input {
  background-color: #d9ccbf;
  border: none;
  width: 70px;
}

.search {
  display: flex;
}

.icon {
  display: flex;
}

#topbar img {
  max-width: 20px;
}

.forside_billede {
  display: grid;
}

.forside_billede img,
.forside_billede h1,
.forside_billede a {
  grid-area: 1/1;
}

.forside_billede h1 {
  font-size: 3.5rem;
  justify-self: end;
  align-self: start;
  margin-top: 1.7rem;
  margin-right: 0.7rem;
}

.forside_billede a {
  justify-self: end;
  margin-right: 1rem;
  margin-top: 5.5rem;
  color: black;
  background-color: #d9d9d9;
  height: 30px;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.new {
  color: white;
}

.arrivals {
  color: white;
}

.mySlides {
  height: 85%;
}

@media screen and (min-width: 1100px) {
  .forside_billede h1 {
    font-size: 4.5rem;
    margin-right: 2rem;
  }

  .forside_billede a {
    margin-right: 2rem;
    margin-top: 6.5rem;
  }
}

/************* Menu ********************/

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
}

.logo img {
  width: 80%;
  min-width: 200px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 30px;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-size: 1.4rem;
}

.menu a:hover {
  text-decoration: underline;
}

.burger {
  width: 60px;
  height: 40px;
  cursor: pointer;
  margin-right: 1.5rem;
}

.burger .line {
  width: 100%;
  height: 5px;
  background-color: #333333;
  margin-bottom: 10px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 1100px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #725e4a;
    position: absolute;
    top: 120px;
    right: 0;
    width: 320px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
    color: #ffffff;
  }
}

/*** Produktliste styling ***/

.produktliste_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 4rem;
  gap: 30px;
}

.produktliste_container img {
  background-color: #d9ccbf;
  margin-bottom: 1rem;
}

.produktliste_container p {
  text-align: center;
}

.produktliste_container a {
  text-decoration: none;
  color: black;
}

.produktliste_container article {
  margin-bottom: 1.5rem;
}

@media (max-width: 800px) {
  .produktliste_container {
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }
}
