/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/************ Forside *****************/

#topbar {
  background-color: #d9ccbf;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
}

#topbar input {
  background-color: #d9ccbf;
  border: none;
  width: 70px;
}

.search {
  display: flex;
}

.icon {
  display: flex;
}

#topbar img {
  max-width: 20px;
}

/*** Produktliste styling ***/

.produktliste_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 4rem;
  gap: 30px;
}

.produktliste_container img {
  background-color: #d9ccbf;
  margin-bottom: 1rem;
}

.produktliste_container p {
  text-align: center;
}

.produktliste_container a {
  text-decoration: none;
  color: black;
}

.produktliste_container article {
  margin-bottom: 1.5rem;
}

@media (max-width: 800px) {
  .produktliste_container {
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }
}
